
venv/
.venv/
env/
.env/

__pycache__/
*.pyc


db.sqlite3
*.sqlite3

media/
media_root/


*.log


.env
.env.*
!*.env.example
local_settings.py
*.local

node_modules/


npm-debug.log
yarn-error.log


.npm/
.yarn/


.vscode/
.idea/
.DS_Store
Thumbs.db